<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

       <context:annotation-config />

       <bean id="playerDetails" class="com.game.mazeapp.entity.PlayerDetails">
              <property name="health" value="20" />
              <property name="muscle" value="15" />
              <property name="win" value="0"/>
              <property name="lose" value="0"/>
       </bean>

       <bean id="orkMonsterDetails" class="com.game.mazeapp.entity.PlayerDetails">
              <property name="health" value="5" />
              <property name="muscle" value="5" />
       </bean>
       <bean id="goblinMonsterDetails" class="com.game.mazeapp.entity.PlayerDetails">
              <property name="health" value="10" />
              <property name="muscle" value="10" />
       </bean>
       <bean id="currentPlayerState" class="com.game.mazeapp.entity.CurrentPlayerState">
              <property name="inFight" value="false"/>
       </bean>

       <bean id="currentMonsterState" class="com.game.mazeapp.entity.CurrentPlayerState">
              <property name="inFight" value="true"/>
       </bean>

       <bean id="ork" class="com.game.mazeapp.entity.Player">
              <property name="playerDetails" ref="orkMonsterDetails"/>
              <property name="currentPlayerState" ref="currentMonsterState"/>
              <property name="nickName" value="ork"/>
              <!--add password/email for monster to calculate hash-->
              <property name="password" value="monsterPassword"/>
              <property name="email" value="monsteremail@monsteremail.com"/>
       </bean>
       <bean id="goblin" class="com.game.mazeapp.entity.Player">
              <property name="playerDetails" ref="goblinMonsterDetails"/>
              <property name="currentPlayerState" ref="currentMonsterState"/>
              <property name="nickName" value="goblin"/>
              <!--add password/email for monster to calculate hash-->
              <property name="password" value="monsterPassword"/>
              <property name="email" value="monsteremail@monsteremail.com"/>
       </bean>


</beans>