<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/maze_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.game.mazeapp.entity.Player"></mapping>
        <mapping class="com.game.mazeapp.entity.PlayerDetails"></mapping>
        <mapping class="com.game.mazeapp.entity.PlayerDetailsVersion"></mapping>
        <mapping class="com.game.mazeapp.entity.CurrentPlayerState"></mapping>
        <mapping class="com.game.mazeapp.entity.CurrentPlayerStateVersion"></mapping>
        <mapping class="com.game.mazeapp.entity.Fight"></mapping>
        <mapping class="com.game.mazeapp.entity.Kick"></mapping>


    </session-factory>
</hibernate-configuration>